<div class="row">
    <div class="col-6">
        <div class="">
            <div class=" px-0 card-header">
                Chọn sản phẩm <br />
                <input id="ipt-text-search-root" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">
            </div>
            <div class="card-body px-0">
                <div class="row">
                    <div class="col-12 ">
                        <table class="table-hover table-centered table">
                            <thead>
                                <tr>
                                    <th class="text-center px-w-50">#</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên </th>
                                    <th>Giá bán lẻ</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-12 max-500">
                        <table class="table-hover table-centered table">
                            <tbody id="tbl-root">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="">
            <div class="card-header  px-0">
                Sản phẩm đã chọn
                <input id="ipt-text-search-selected" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">

            </div>
            <div class="card-body px-0">
                <div class="col-12 ">
                    <table class="table-hover table-centered table">
                        <thead>
                            <tr>
                                <th class="text-center px-w-50">#</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên </th>
                                <th>Giá bán lẻ</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-12  max-500">
                    <table class="table-hover table-centered table">
                        <tbody id="tbl-selected">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
