<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Chọn sản phẩm <br />
                <input id="ipt-text-search-root" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 h-500-oveflow-auto">
                        <table class="table-hover table-centered table">
                            <thead>
                                <tr>
                                    <th class="text-center px-w-50">#</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên </th>
                                    <th>Tồn kho</th>
                                    <th>Giá sau khuyến mãi</th>
                                    <th>Giá bán trả góp</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbl-root">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Sản phẩm đã chọn  
                <input id="ipt-text-search-selected" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">

            </div>
            <div class="card-body">
                <div class="col-12  h-500-oveflow-auto">
                    <table class="table-hover table-centered table">
                        <thead>
                            <tr>
                                <th class="text-center px-w-50">#</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên </th>
                                <th>Tồn kho</th>
                                <th>Giá sau khuyến mãi</th>
                                <th>Giá bán trả góp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-selected">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
