
@{
    ViewData["Title"] = "QUẢN LÝ NHÓM SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="/admin/product-group/add" class="btn btn-primary"><i class="mdi mdi-plus-circle font-16 mr-1"></i>Thêm mới nhóm</a>
                </div>
                <h4 class="page-title">Quản lý nhóm sản phẩm</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="page-aside-left p-0">
                        <button onclick="getDataTable()" type="button" class="btn btn-block btn-primary"><i class="mdi mdi-refresh font-16 mr-1"></i>Làm mới dữ liệu</button>
                        <div class="mt-4">
                            <h5 class="text-primary">Tìm kiếm</h5>
                            <div class="form-group">
                                <input id="ipt-text-search" type="text" class="form-control" placeholder="Tìm theo tên nhóm" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="page-aside-right">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="btn-product" class="table table-hover table-centered">
                                    <thead>
                                        <tr>
                                            <th class="text-center px-w-50">#</th>
                                            <th>Tên nhóm</th>
                                            <th>Đường dẫn</th>
                                            <th class="w-10">Số lượng sản phẩm</th>
                                            <th>Ghi chú</th>
                                            <th>Thời gian</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div id="div-pagination-info" class="col-6 mt-2"></div>
                            <div class="col-6"><div id="div-pagination-selection" class="float-right mb-3 mt-1"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/iotsoftvn/Product/product_group_index.js"></script>
}
