
@{
    ViewData["Title"] = "THÊM MỚI CHƯƠNG TRÌNH KHUYẾN MÃI";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .table td, .table th {
            padding: 0.2rem 0.5rem;
        }

        .card-body {
            padding: 18px;
        }

        td.fitwidth {
            width: 1px;
            white-space: nowrap;
        }
    </style>

}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="/admin/promotion" class="btn btn-primary"><i class="mdi mdi-arrow-left font-16 mr-1"></i>Trở về trang chương trình</a>
                </div>
                <h4 class="page-title">Thêm mới chương trình khuyến mãi</h4>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Hình đại diện <span class="text-danger">*</span></h4>
                    <div class="row">
                        <div class="col-md-12 container-image">
                            <img id="img-banner" class="img-auto-size" />
                        </div>
                        <div class="col-md-12 mt-2">
                            <button id="btn-banner" type="button" class="btn btn-primary btn-sm float-right"><i class="mdi mdi-plus-circle font-16 mr-1"></i>Thêm hình ảnh</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Thông tin</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên chương trình khuyến mãi <span class="text-danger">*</span></label>
                                <input id="ipt-name" type="text" name="Title" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>URL chương trình khuyến mãi <span class="text-danger">*</span></label>
                                <input id="ipt-url" type="text" name="FiendlyUrl" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Số dòng hiển thị <span class="text-danger">*</span></label>
                                <input id="ipt-row" type="number" name="FiendlyUrl" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Thứ tự sắp xếp <span class="text-danger">*</span></label>
                                <input id="ipt-priority" type="number" name="Priority" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea id="ipt-desc" type="text" name="Description" class="form-control" placeholder="" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>Ngày bắt đầu <span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-md-7">
                                    <input id="dtpk-start" name="FromDate" type="text" class="form-control" data-toggle="datepicker" placeholder="" />
                                </div>
                                <div class="col-md-5">
                                    <input id="time-start" type="text" class="form-control" data-toggle="timepicker" value="12:00">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>Ngày kết thúc <span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-md-7">
                                    <input id="dtpk-end" name="EndDate" type="text" class="form-control" data-toggle="datepicker" placeholder="" />
                                </div>
                                <div class="col-md-5">
                                    <input id="time-end" type="text" class="form-control" data-toggle="timepicker" value="12:00">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label style="width: 100%">Màu nền <i id="ic-back-ground" class="mdi mdi-square float-right" style="color: white"></i></label>
                                <input id="ipt-back-ground" type="color" class="form-control" style="padding: 0px">
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="form-group">
                                <label style="width: 100%">Màu viền <i id="ic-back-ground" class="mdi mdi-square float-right" style="color: white"></i></label>
                                <input id="ipt-border-ground" type="color" class="form-control" style="padding: 0px">
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label>
                                    Hiển thị  Sticker
                                    <input id="cb-sticker" type="checkbox" value="" class="form-check-inline" />
                                </label><br />
                                <button id="btn-sticker" type="button" class="btn btn-primary btn-sm float-right"><i class="mdi mdi-plus-circle font-16 mr-1"></i>Chọn Sticker</button>
                            </div>
                            <div>
                                <img id="img-sticker" class="img-fluid" src="#" />
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea id="ipt-note" type="text" name="Note" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">
                        <span>Giảm giá</span>
                        <button type="button" onclick="applyConfig()" class="btn-sm float-right btn btn-primary btn-sm"><i class="mdi mdi-check-bold font-16 mr-1"></i>Áp dụng cho tất cả sản phẩm</button>
                    </h4>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Giảm giá theo</label>
                                <select id="slt-sale-by" name="SaleBy" class="form-control px-w-100" data-toggle="select-no-search">
                                    <option value="1">Tiền mặt</option>
                                    <option value="2">Phần trăm</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" id="div-sale-money">
                            <div class="form-group">
                                <label>Số tiền giảm </label>
                                <div class="input-group mb-3">
                                    <input id="ipt-sale-quantity" value="0"
                                           type="text" class="form-control d-inline px-w-150 text-right" data-toggle="autonumeric-money" placeholder="" aria-describedby="basic-addon2" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-none" id="div-sale-percent">
                            <div class="form-group">
                                <label>Phần trăm giảm (%)</label>
                                <div class="input-group mb-3">
                                    <input id="ipt-sale-percent" value="0"
                                           type="number" max="100" min="0" class="form-control d-inline px-w-150" placeholder="" aria-describedby="basic-addon2" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Giảm tối đa
                                    <i class="mdi mdi-information-outline text-primary"
                                       data-toggle="tooltip" title="Số tiền giảm giá tối đa đối với hình thức giảm giá theo phần trăm, để bằng 0 nếu bạn không muốn áp dụng giá giảm tối đa."></i>
                                </label>
                                <div>
                                    <input id="ipt-max-sale" disabled
                                           data-toggle="autonumeric-money" class="form-control px-w-150 d-inline text-right"
                                           type="text" value="0" />
                                    <span>đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Chọn sản phẩm từ nhóm</label>
                        <select id="sl-group" multiple class="form-group" data-toggle="select"></select>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="header-title mt-3 mb-2">Tất cả sản phẩm</h4>

                                    <input id="ipt-text-search-root" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 max-500">
                                            <table class="table-hover table-centered table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center px-w-50">#</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Tên </th>
                                                        <th>Tồn kho </th>
                                                        <th class="text-center">Giá bán lẻ</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-12 max-500" style="height:600px;overflow:auto;">
                                            <table class="table-hover table-centered table">
                                                <thead class="d-none">
                                                    <tr>
                                                        <th class="text-center px-w-50">#</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Tên </th>
                                                        <th>Tồn kho </th>
                                                        <th class="text-right">Giá bán lẻ</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-root">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="header-title mt-3 mb-2"> Sản phẩm đã chọn</h4>

                                    <input id="ipt-text-search-selected" type="text" class="form-control" placeholder="Tìm theo tên, mã sản phẩm..." autocomplete="off">
                                </div>
                                <div class="card-body">
                                    <div class="col-12  max-500">
                                        <table class="table-hover table-centered table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center px-w-50">#</th>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Tên </th>
                                                    <th>Tồn kho </th>
                                                    <th>Giá bán lẻ</th>
                                                    <th>Giảm giá</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-12 max-500" style="height:600px;overflow:auto;">
                                        <table class="table-hover table-centered table">
                                            <tbody id="tbl-selected">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row d-none">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-centered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center px-w-50">#</th>
                                                <th>Hình ảnh</th>
                                                <th class="text-left">Tên sản phẩm</th>
                                                <th class="text-right">Giá niêm yết</th>
                                                <th class="text-right">Số tiền giảm</th>
                                                <th class="text-right">Giá khuyến mãi</th>
                                                <th class="text-center px-w-50"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-products">
                                        </tbody>
                                        <tfoot class="mt-2">
                                            <tr>
                                                <td id="td-new-index" class="text-center">3</td>
                                                <td><img id="img-add-product" src="/images/default-image.png" onerror="this.src='/images/default-image.png'" class="mr-2" style="width: 50px"></td>
                                                <td>
                                                    <select class="form-control" id="slt-add-product">
                                                        <option value="0" selected>Chọn sản phẩm</option>
                                                    </select>
                                                </td>
                                                <td class="text-right">
                                                    <span id="sp-add-price" data-value="0">0đ</span>
                                                </td>
                                                <td class="text-right">
                                                    <input onkeyup="onAddQuantityChange(0, this)" id="ipt-add-sale-quantity"
                                                           data-toggle="autonumeric-money" class="form-control px-w-150 d-inline"
                                                           type="text" value="0" />
                                                    <span class="sp-unit">đ</span>
                                                </td>
                                                <td class="text-right">
                                                    <span id="sp-add-sale-price" data-value="0">0đ</span>
                                                </td>
                                                <td class="text-center px-w-50">
                                                    <i onclick="addPromoProduct()" data-toggle="tooltip" title="Thêm sản phẩm" class="mdi mdi-plus mdi-18px cursor-pointer text-success"></i>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" onclick="postPromotion()" class="btn btn-primary float-right mt-2">
                    <i class="mdi mdi-plus-circle font-16 mr-1 gly"></i>Lưu chương trình khuyến mãi
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/iotsoftvn/js_file_manager.js"></script>
    <script src="~/iotsoftvn/PromotionAndAds/js_promo_add.js"></script>
}
