@{
    ViewData["Title"] = "Intem";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="/plugins/table-export/css/tableexport.min.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right ">
                    <button onclick="showPrintSmallLabel()" class="btn btn-primary"><i class="mdi mdi mdi-printer font-16 mr-1"></i>In tem nhỏ</button>
                    <button onclick="showPrintLargeLabel()" class="btn btn-primary mr-2"><i class="mdi mdi mdi-printer font-16 mr-1"></i>In tem lớn </button>
                </div>
                <h4 class="page-title">Danh sách sản phẩm in tem</h4>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-9">
            <div class="card mb-0">
                <div class="card-header">
                    <h5 class="card-title text-uppercase">Chọn sản phẩm cần in tem</h5>
                </div>
               
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chọn từ nhóm</label>
                                <p class="font-10 text-muted"><span class="text-danger">*</span> Chọn sản phẩm từ danh sách nhóm</p>
                                <select id="sl-group" class="select2 form-control " data-toggle="select">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chọn từ chương trình khuyễn mãi </label>
                                <p class="font-10 text-muted"><span class="text-danger">*</span> Chọn sản phẩm từ danh sách chương trình khuyễn mãi</p>
                                <select id="sl-promo" class="select2 form-control " data-toggle="select">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chọn sản phẩm</label>
                                <p class="font-10 text-muted"><span class="text-danger">*</span> Chọn các sản phẩm thêm vào danh sách in</p>
                                <select id="sl-product" class="select2 form-control " data-toggle="select">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card mb-0 h-100">
                <div class="card-header">
                    <h5 class="card-title">Hình ảnh mặc định (% Trả góp)</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <button id="btn-image-default" class="w-100 btn btn-primary" data-toggle="tooltip" data-placement="top" title="Chọn hình trả góp 0% hoặc trả trước 0đ được in trên tem, kích thước yêu cầu 80x80"> <i class="mdi mdi-folder-multiple-image mr-1"></i>Chọn hình  </button>
                            <button id="btn-image-remove" class="mt-1 w-100 btn btn-danger"><i class="mdi  mdi-18px mdi-delete"></i> Xóa hình</button>
                        </div>
                        <div class="col-md-5">
                            <img id="img-default" src="https://via.placeholder.com/80" style="width:80px;height:80px" onerror="this.src='https://via.placeholder.com/80'" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-uppercase">Danh sách sản phẩm in tem</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="div-export" class="col-lg-12">
                            <table class="table table-hover table-centered">
                                <thead>
                                    <tr>
                                        <th class="text-center px-w-50">#</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá niêm yết</th>
                                        <th>Giá bán lẻ</th>
                                        <th class="">Tồn kho</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-product">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Print Tem Lớn*@
<div id="print-large" class="modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-edit" class="modal-title">In tem lớn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="div-print-large">
                    <div class="print-page"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>
                <button onclick="printLargeStart();" type="button" class="btn btn-primary ml-1"><i class="mdi mdi-printer mr-1"></i>Print</button>

            </div>

        </div>
    </div>
</div>


@*Print Tem nhỏ*@
<div id="print-small" class="modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-edit" class="modal-title">In tem nhỏ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body m-auto">
                <div id="div-print-small">
                    <div class="print-page-sm mt-2">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div id="qrcode"></div>
                <button id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>
                <button onclick="printSmallStart();" type="button" class="btn btn-primary ml-1"><i class="mdi md-18px mdi-printer mr-1"></i>Print</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @*<script src="~/assets/js/jquery.qrcode.min.js"></script>*@
    <script src="~/iotsoftvn/qrcode.js"></script>
    <script src="/iotsoftvn/js_file_manager.js"></script>
    <script src="~/iotsoftvn/Product/product_print_label.js"></script>
}


@*================Tem nhỏ ======================*@
@*Nội dung	        CM	        %
      P1	Logo	            2	    20
      P2	Ten sản phẩm	    1	    11,42857143
      P3	Nổi bật	            4	    35,71428571
      p4	khuyen mai, gia	    1,5 	32,85714286

    @*<div class="w-100 h-100 border border-secondary overflow-hidden m-auto position-relative" style="margin-bottom:30px!important;">
                      <div class="print-sm-p1"></div>
                      <div class="print-sm-p2">
                          <h4 class="text-center print-product-name m-0 py-1"><b> TỦ LẠNH  SHARP SJ-X346E-DS</b></h4>
                      </div>
                      <div class="print-sm-p3">
                          <div class="row">
                              <div class="col-7">
                                  <ul>
                                      <li>Dung tích 435 Lít</li>
                                      <li>Công nghệ INVERTER</li>
                                      <li>Bộ khử mùi Nano Ag</li>
                                      <li>Khay kích chịu lực</li>
                                  </ul>
                              </div>
                              <div class="col-5">
                                  <ul style="list-style:none;">
                                      <li>
                                          Xuất xứ: Việt Nam
                                      </li>
                                      <li>
                                          Bảo hành: 12 tháng
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="print-sm-p4">
                          <div style="width:41%">
                              <ul>
                                  <li>Dung tích 435 Lít</li>
                                  <li>Bảo hành: 12 tháng</li>
                              </ul>
                          </div>
                          <div style="width:59%" class="m-auto">
                              <div class=" print-price text-center shadow m-3">
                                  <b class="d-block">
                                      <span class="icofont-8x"> Giá ưu đãi:</span> <span class="text-danger font-24 print-product-name"> 100.000đ</span>
                                  </b>
                                  <span class="font-12"> Giá Niêm Yết:</span> <b class="font-12 "> <u style="text-decoration:line-through;">100.000đ</u></b>
                              </div>
                          </div>
                      </div>
                  </div>*@
@*================Tem lớn ======================*@
@*Nội dung	        CM	        %
    P1	Logo	        2	    11,76470588
    P2	Ten sản phẩm	1	    5,882352941
    P3	Nổi bật	        4	    23,52941176
    p4	Giá	            1,5 	8,823529412
    p5	Bank Trả gop	2	    11,76470588
    p6	Khuyen mai	    3	    17,64705882
    p7	Cam kết vàng	3,5	    20,58823529*@

<!--<div id="div-print" class="w-100 h-100 border border-secondary overflow-hidden m-auto position-relative" style="margin-bottom:30px!important;">
    <div class="print-p1"></div>
    <div class="print-p2">
        <h4 class="text-center print-product-name m-0 py-1"><b> TỦ LẠNH  SHARP SJ-X346E-DS</b></h4>
    </div>
    <div class="print-p3">
        <ul>
            <li>Dung tích 435 Lít</li>
            <li>Công nghệ INVERTER</li>
            <li>Bộ khử mùi Nano Ag</li>
            <li>Khay kích chịu lực</li>
            <li>Xuất xứ : Thái lan</li>
            <li>Bảo hành: 12 tháng</li>
        </ul>
    </div>
    <div class="print-p4">
        <div class="row">
            <div class="bg-white print-price text-center shadow m-auto col-6 offset-3  ">
                <b>
                    <span class="font-20"> Giá ưu đãi:</span> <b class="text-danger font-24 print-product-name"> 100.000đ</b>
                </b> @Html.Raw("\n")    <span class="font-12"> Giá Niêm Yết:</span> <b class="font-12 "> <u style="text-decoration:line-through;">100.000đ</u></b>
            </div>
        </div>
    </div>
    <div class="print-p5 d-flex " style="align-items:center;">
        <div class="row">
            <div class="col-8">
                <div>
                    <img class="print-bank-img col-4 mx-2" src="/images/Print/HdBank.png" alt="Alternate Text" />
                    <img class="print-bank-img col-4" src="/images/Print/ASCBank.png" />
                </div>
            </div>
            <div class="col-4">
                <img class="print-img-tra-gop-0" src="/images/Print/print-0.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="print-p6">
        <ul>
            <li>Combo túi giặt cao cấp</li>
            <li>Tặng nước giặt Dnee</li>
            <li>Bộ khử mùi Nano Ag</li>
            <li>Tặng combo họp nhuawcj </li>
            <li>Tặng bộ ứng dụng </li>
            <li>Bảo hành: 12 tháng</li>
        </ul>
    </div>
    <div class="print-p7">
        <ul>
            <li>1 đôi </li>
            <li>Công nghệ INVERTER</li>
            <li>Bộ khử mùi Nano Ag</li>
            <li>Khay kích chịu lực</li>
            <li>Xuất xứ : Thái lan</li>
            <li>Bảo hành: 12 tháng</li>
        </ul>
    </div>-->
<!--</div>-->