<!--  Modal content for the Large example -->
<div id="modal-content-handle__" class="modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-edit" class="modal-title">Xem nội dung xử lý</h4>
                <button id="closeModalHadle" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea readonly id="contentHandle__i" data-toggle="maxlength" class="form-control" maxlength="225" rows="3"
                                      ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->