<!--  Modal content for the Large example -->
<div class="modal fade" id="modal-order-detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Danh sách đơn hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="card-body">
                <div class="row" style="margin-top: -10px; padding-bottom:10px;">
                    <div class="col-md-7 ">
                        <h5>Khách hàng: <span id="ten" class="text-primary"></span></h5>
                        <h5>Số điện thoại: <span id="sdt" class="text-primary"></span></h5>
                        <h5>Địa chỉ: <span id="dc" class="text-primary"></span></h5>
                        <h5>Email: <span id="email" class="text-primary"></span></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div class="accordion" id="accordionExample">
                            </div>
                        </div> <!-- end table-responsive-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->