<div id="modal-detail" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Thông tin danh sách danh mục sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input id="ipt-text-sp" type="text" class="form-control" disabled autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Danh sách thuộc tính</label>
                        </div>
                        <div id="div-properties" class="form-group">


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>

            </div>
        </div>
    </div>
</div>