<div id="modal-content-handle" class="modal" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-edit" class="modal-title">Nội dung thực hiện</h4>
                <button onclick="resetContenthandle()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="contentHandle" data-toggle="maxlength" class="form-control" maxlength="225" rows="3"
                                      placeholder="Nhập nội dung thực hiện"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="resetContenthandle()" id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>
                <button id="btn-edit-branch-handle" type="button" class="btn btn-primary ml-1"><i class="mdi mdi-check mr-1"></i>Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-content-handle__" class="modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-edit" class="modal-title">Xem nội dung xử lý</h4>
                <button onclick="resetContenthandle()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="contentHandle__" data-toggle="maxlength" class="form-control" maxlength="225" rows="3"
                                      placeholder="Chưa có nội dung xử lý"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="resetContenthandle()" id="btn-close-edit" type="button" class="btn btn-light m-w-100" data-dismiss="modal"><i class="mdi mdi-block-helper mr-1"></i>Đóng</button>
                <button id="btn-edit-branch-handle__" type="button" class="btn btn-primary ml-1"><i class="mdi mdi-check mr-1"></i>Cập nhật</button>
            </div>
        </div>
    </div>
</div>