@{
    ViewData["Title"] = "CẬP NHẬT SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .table td, .table th {
            padding: 0.2rem 0.5rem;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="/admin/ProductCombo" class="btn btn-primary"><i class="mdi mdi-arrow-left font-16 mr-1"></i>Trở về trang sản phẩm</a>
                </div>
                <h4 class="page-title">Cập nhật sản phẩm</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="form-edit">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Thông tin</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tên sản phẩm</label>
                                            <input disabled type="text" name="Name" id="ipt-combo-product-name" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Đường dẫn sản phẩm</label>
                                            <input disabled type="text" name="FriendUrl" id="ipt-combo-product-url-Friendly" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Ghi chú</label>
                                            <input disabled type="text" name="note" id="ipt-combo-product-note" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Giá bán</label>
                                            <input disabled type="text" class="form-control" min="0" id="ipt-combo-product-money" name="Price" data-toggle="autonumeric-money" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Bảo hành</label>
                                            <select disabled class="form-control" name="GurantyTime" id="sel-bao-hanh" data-toggle="select-no-search">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Nội dung khuyến mãi</label>
                                    <textarea disabled type="text" id="textarea-promoContent" name="PromoContent" class="form-control p-b-22" placeholder="Nội dung khuyến mãi" rows="12">
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">
                        Danh sách sản phẩm
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive mt-4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td class="font-weight-bold">#</td>
                                            <td class="w-50">Sản phẩm</td>
                                            <td class="w-15">Số lượng </td>
                                            <td class="w-15 text-right" tyle="width:65%!important">Đơn giá</td>
                                            <td class="w-25 text-right" tyle="width:65%!important">Thành tiền</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-combo">
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right font-weight-bold">Tổng tiền</td>
                                            <td class="text-right font-weight-bold text-danger" id="TongTienCombo"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Hình ảnh</h4>
                    <div class="row" id="divImage">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Nội dung</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="editor"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var COMBO_PRODUCT = window.location.href.slice(window.location.href.indexOf('=') + 1);
        var FILES = [];
        var COUNT_ID = 0;
        $(document).ready(function () {
            CKEDITOR.replace('editor', { height: '600px' });
            COUNT_ID = 0;
            
            initGenerateFriendlyUrl('#ipt-combo-product-name', '#ipt-combo-product-url-Friendly');
             InitComboProduct()
           
        });

        /**Khởi tạo giá trị mặc định cho combo sản phẩm */
        function InitComboProduct() {
            ajaxGet('Combo/' + COMBO_PRODUCT, {}, (data) => {
                if (data.IsSuccess) {
                    if (data.Result == null) return alertify.alert("Combo sản phẩm không tồn tại !");
                    $('#ipt-combo-product-name').val(data.Result.Name);
                    $('#ipt-combo-product-url-Friendly').val(data.Result.FriendlyUrl);
                    $('#ipt-combo-product-note').val(data.Result.Note);
                    $('#ipt-combo-product-money').val(formatMoney(data.Result.Price));
                    $('#textarea-promoContent').val(data.Result.PromoContent);
                    $.each(data.Result.ComboImages, (index, item) => {
                        FILES.push(item);
                        renderImage(item);
                    })
                    CKEDITOR.instances.editor.setData(data.Result.Description);
                    $.each(data.Result.Products, (index, val) => {
                        COUNT_ID++;
                        $('#tbl-combo').append(`
<tr id="${COUNT_ID}-product">
<td>
${COUNT_ID}
</td>
<td>
<select disabled class="form-control" data-toggle="select-no-search-no-search" >
                <option value="${val.Id}">${val.ProductName}</option>
</select>
</td>
<td>
<input disabled type="number" min="1" value=${val.Quantity} data-price="0" class="form-control quantity">
</td>
<td  class="price text-right"> ${formatMoney(val.SaleOffPrice)}
</td>
<td class= "totalPrice text-danger text-right">${formatMoney(val.Quantity * val.SaleOffPrice)}
</td>
<td class="text-center px-w-50">
</td>
</tr>
`);
                    })

                    $('#sel-bao-hanh').append(`<option>${data.Result.GurantyTime}<option>`)
                } else {
                    alertify.alert("Có lỗi xảy ra !");
                }
            }).then(x => {
                setComboPrice();
            })
        }

        function setComboPrice() {
            let totals = $('#tbl-combo tr .totalPrice');
            let totalMoney = 0;
            for (var i = 0; i < totals.length; i++) {
                let text = $(totals[i]).html();
                let money = stringToIntMoney(text);
                totalMoney += money;
            }
            $('#TongTienCombo').html(formatMoney(totalMoney));
        }

        function renderProperty(COUNT_ID, ProductID, ProductName, SaleOffPrice) {
            let html = `<tr id="property-${COUNT_ID}">
<td>
${COUNT_ID}
</td>
<td>
<select disabled class="form-control" data-toggle="select-no-search" >
<option value="${ProductID}">${ProductName}</option>
</select>
</td>
<td>
<input disabled type="number" min="1" value="1"value=${'999999'} data-price="0" class="form-control quantity">
</td>
<td  class="price text-right"> ${formatMoney(SaleOffPrice)}
</td>
<td class= "totalPrice text-danger text-right">0đ
</td>
<td class="text-center px-w-50">
<span>
<i id="${COUNT_ID + 'remove'}" class=" ml-3 mdi mdi-trash-can  mdi-18px cursor-pointer text-danger"></i>
</span>
</td>
</tr>`;

            $("#tbl-combo").append(html);
        }

        /*Render html khi chọn hình ảnh*/
        function renderImage(file) {
            let html = ` <div id = "product-img-${file.Id}" class="col-md-2 container-image">
                            <img class="img-auto-size" src="${getImagePath(file.FilePath)}" onerror="this.src='/images/default-image.png'" />
                        </div>`;
            $('#divImage').append(html);
        }

        function stringToIntMoney(text) {
            if (IsNullOrEmpty(text)) return 0;
            let money = text.replace(/ /, '');
            money = text.replace(/đ/g, '');
            money = text.replace(/,/g, '');

            return parseInt(money);
        }
    </script>
}
